p{
    margin: 10px;
}
.interface_div{
    height : 23px;
    width : 490px;

    
}

.acilis_grid{
 background-color: #181818;
 position: fixed;
 height: 100%;
 width: 100%;
 align-items: center;
}
.cod_text{
    font-size: 20px;
    position: fixed;
    bottom: 100px;
    left: 50px;
    color:#5D6532;
    font-family: Arial, sans-serif;

}
.cod_text_box{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 500px;
    width: 500px;



}
.typewriter {
    font-size: 40px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    justify-self: left;
}


.acilis_div{
    height: 33%;
    width: 100%;
    justify-items: center;
    align-items: center;
}
#parent_animasyon_div{
    display: flex;
    justify-self:center;

}
#animasyon_div{
    animation-fill-mode: forwards;
    animation-name: smoke_animation;
    animation-duration: 12s;
    width: 0%;
    height: 40%;
    background-color: #5D6532;
    
}

@keyframes closing_animation {
    0% { opacity: 1; background-position: center; }
    100% { opacity: 0; background-position: center; }


}
@keyframes opening_animation {
    0% { opacity: 0; background-position: center; }
    100% { opacity: 1; background-position: center; }


}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0;}
    100%{opacity:1;}
    

}
@keyframes smoke_animation {
    0% {width: 0%;}
    10%{width:12%;}
    50% {width:40%;}
    80% {width:70%;}
    100% {width:100%;}
}

@keyframes smoke_animation_fast {
    0% {width: 100%;}
    100% {width: 0%;}
}
#pc_kisim {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: none;
    z-index: 10;
    opacity: 0;

}
#pc_cerceve {
    position: relative;
    height: 600px;
    width: 800px;
    background-color: rgba(0, 128, 0, 0.542);
    border: 10px solid rgb(28, 24, 24);
    align-self: center;
    justify-self: center;
    top:5%;



}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;

}
.grid_background {
    background-image: url(staticc.gif);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    background-size: cover;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.grid-item:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.grid-item:active {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}
/*-----uygulamalar-----*/
#uygulama_1{
    background-image:url("Uygulama_resim/app_1.jpg") ; 
    background-size: cover;
}
#uygulama_2{
    background-image: url("Uygulama_resim/It\'s\ me\ wow.jpg");
    background-size: cover;
}
#uygulama_3{
    background-image: url("Uygulama_resim/forma.jpg");
    background-size: cover;
}
#uygulama_4{
    background-image: url("Uygulama_resim/gojo.jpg");
    background-size: cover;
}
.uygulama_content {
    font-size:20px;
    color: rgb(222, 93, 7);
    align-self: center;
    text-align: center;
}


.window
{
    
    display: none;
    position: absolute;
    justify-self: center;
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(255, 255, 255);
    top: 10%;
    z-index: 2;
    opacity: 0.8;
}
.window:hover   {

    opacity: 1;
    transition: opacity 0.3s ease-in-out;

}
            /*APP_TEXTS_PLACE_START*/
.Yakashi_{
    padding-left: 12px;
    color:#fb742d;
    font-size: 18px;
    padding-right: 12px;



}
.info_1{
    color:#fb742d;
    font-size: 18px;

}
            /*APP_TEXTS_PLACE_END*/
#p1{
    color: white;
    font-size: 10px;
    text-align: center;
    position: relative;
    left: 40%;
    top: 5%;
}

#skip_button{
    color: white;
    font-size: 10px;
    background-color: #000000;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
li{
    padding-left: 12px;
    color:#fb742d;
    font-size: 18px;
    padding-right: 12px;
}